* {
  user-select: none;
  background-color: midnightblue;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

body{
  margin-top: 100px;
  margin-bottom: auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.x{
  color:red;
}

.mainDiv{
  margin: auto;
}

#rematchButton{
  color: white;
}

#rematchButton:hover{
  color: #CACACA;
}

#winnerLabel{
  color: white;
}

#mainTitle{
  color: white;
}

#recordTable{
  color:white;
  width: 100px;
  height: 50px;;
  text-align: center;
  margin: auto;
  border-color: white;
  background-color: white;
}

#recordTable tbody td{
  background-color: rgba(255, 255, 255, 0.192);
}

#recordTable thead td{
  background-color: white;
  color: midnightblue;
}

#rematchButton{
  cursor: pointer;
}

#mainTable{
  cursor: pointer;
  background-color: transparent;
  margin-top: 30px;
  width: 33%;
  font-family: 'Press Start 2P', cursive;
  border: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  width: 50%;
  height: 50%;
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
}

#rematchButton{
  margin-top: 40px;
}

#mainTable td{
  color:midnightblue;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #5a5a5ab2;
  width: 100px;
  max-width: 100px;
  height: 100px;
}

#resetButton{
  color: midnightblue;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10px;
  padding: 5px;
  border-color: white;
  background-color: white;
}