* {
  background-color: midnightblue;
  color:white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

body{
  margin-top: 100px;
  margin-bottom: auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}


#mainTable{
  background-color: transparent;
  margin-top: 50px;
  width: 33%;
  font-family: 'Press Start 2P', cursive;
  border: 1;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  width: 500px;
  height: 500px;
}

#rematchButton{
  background-color: white;
  color: midnightblue;
  font-size: 50px;
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

td{
  color:midnightblue;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #5a5a5ab2;
  width: 100px;
  max-width: 100px;
  height: 100px;
}